extends /layouts/main

include /mixins/csrf-token
include /mixins/help-tooltip
include /mixins/checkbox-input
include /mixins/currency-input
include /mixins/percentage-input

block icon
	i.fas.fa-file-invoice-dollar.mr-2

block title
	| Gastos fixos

block subtitle
	| Adição de gasto fixo.

block section
	.row: .col
		form(action="/fixed-costs" method="POST")
			hr
			.form-row
				.form-group.col-md-8
					label(for="description-input") Descrição:
					input#description-input.form-control(type="text", name="description", placeholder="Descrição do gasto fixo")

				.form-group.col
					+currency-input("cost", value="0.00") Custo:
						+help-tooltip("Valor a ser cobrado mensalmente pelo custo fixo")
			.form-row
				.form-group.col
					+percentage-input("interest") Juros:
						+help-tooltip("Juros aplicados em caso de atraso.")
				.form-group.col
					label(for="begins-input") Início:
					input#begins-input.form-control(type="date", name="begins")

				.form-group.col
					label(for="ends-input") Encerramento:
					+help-tooltip("Deixe vazio para custo fixo sem previsão de encerramento.")
					input#ends-input.form-control(type="date", name="ends")
			.form-row
				.form-group.col-3
					label(for="dueDate-input") Dia do vencimento:
					input#dueDate-input.form-control(type="number", name="dueDate", max="31", min="1", step="1", value="1")
				.form-group.col-12
					+checkbox-input("businessDay") Dia útil
			+csrf-token
			button.btn.btn-primary.float-right Salvar custo fixo
				i.fas.fa-save.ml-2


