extends /layouts/app

block body
	main.container.vh-100
		.row.h-100 
			aside.d-none.d-sm-block.col-sm-5.col-md-4.col-lg-3.py-4.h-100
				.h-25.text-center

				nav.nav.flex-column.nav-pills
					a.nav-link.path-activable(href="/dashboard")
						i.fas.fa-chart-line.me-2
						| Dashboard
					a.nav-link.path-activable(href="/monthly-situation")
						i.fas.fa-calendar-alt.me-2
						| Situação mensal
					a.nav-link.path-activable(href="/forecasting")
						i.fas.fa-binoculars.me-2
						| Previsão
					a.nav-link.path-activable(href="/revenue")
						i.fas.fa-dollar-sign.me-2
						| Receita
					a.nav-link.path-activable(href="/variable-expenses")
						small: i.fas.fa-credit-card.me-2
						| Despesas Variáveis
					a.nav-link.path-activable(href="/fixed-expenses")
						i.fas.fa-file-invoice-dollar.me-2
						| Despesas Fixas
					hr
					a.nav-link.path-activable(href="/fixed-expenses")
						i.fas.fa-file-invoice-dollar.me-2
						| Administrar

			section.col.h-100.overflow-auto

				.row.py-2
					.col
						button#back-button.btn.btn-link
							small: i.fas.fa-arrow-left.me-2
							| Back
					.col.text-end
						button#forward-button.btn.btn-link
							| Forward
							small: i.fas.fa-arrow-right.ms-2
					.col-12.text-center
						h2
							block icon
							block title
						p.text-secondary: i
							block subtitle

				block section
