extends /layouts/app

include /mixins/text-input
include /mixins/csrf-token

block body
	main.container.vh-100
		.row
			section.col-8.col-lg-6.mx-auto.py-4
				h1.display-3.text-center Grana
		.row
			section.col-8.col-lg-6.mx-auto
				block section

				

