@font-face {
	font-family: Barlow;
	src: url('../fonts/Barlow-Regular.ttf');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

.all-view-height {
	height: 100vh;
}
